.temp {
  display: flex;
  justify-content: space-around;
  margin-left: 43px;
  margin-right: 41px;
  margin-bottom: 11px;
  font-size: 19px;
  font-weight: 500;
  margin-top: 20px;
}

.icon {
  display: flex;
  justify-content: space-around;
  margin-left: 39px;
  margin-right: 46px;
  font-size: 21px;
}

.hour {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  margin-right: 45px;
  font-size: 14px;
  margin-top: 11px;
  color: gray;
}

@media screen and (max-width: 640px) {
  .icon {
    display: flex;
    justify-content: space-around;
    margin-left: 28px;
    margin-right: 17px;
    font-size: 21px;
  }

  .temp {
    display: flex;
    justify-content: space-around;
    margin-left: 31px;
    margin-right: 12px;
    margin-bottom: 11px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 20px;
  }

  .hour {
    display: flex;
    justify-content: space-around;
    margin-left: 34px;
    margin-right: 18px;
    font-size: 14px;
    margin-top: 11px;
    color: gray;
  }
}