.today {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  font-size: 22px;

  .weather-today {
    font-size: 24px;
    margin-right: 17px;
    margin-top: 5px;
  }

  span {
    margin-right: 120px;
  }
}

.info {
  margin-top: 10px;
  span:first-child {
    font-weight: 700;
    font-size: 22px;
  }

}

@media screen and (max-width: 640px) {
  .today {
    margin-left: 6px;

    .weather-today {
      margin-right: 31px;
    }

    span {
      margin-right: 117px;

    }
  }
}