.temp {
  display: flex;
  justify-content: space-around;
  margin-left: 39px;
  margin-right: 30px;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 500;
  margin-top: 15px;
}

.icon {
  display: flex;
  justify-content: space-around;
  margin-left: 29px;
  margin-right: 32px;
  font-size: 21px;
}

.hour {
  display: flex;
  justify-content: space-around;
  margin-left: 29px;
  margin-right: 32px;
  font-size: 14px;
  margin-top: 15px;
  color: gray;
}